<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Properties>
    <Property name="HOSTNAME">${env:HOSTNAME}</Property>
  </Properties>

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%HOSTNAME %d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="orac_es" fileName="orac/log/orac_es.log" immediateFlush="false" append="true">
      <PatternLayout pattern="%HOSTNAME %d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
<!--
      <AppenderRef ref="orac_es"/>
-->
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>

